{% for label, messages in app.flashes(['success', 'warning', 'info', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} d-none">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% include 'entityTemplate/home/figure.html.twig' with {'figures': figures} only %}