<h1>Salut {{ token.user.pseudo }} ! Confirme ton email!</h1>

<p>
    Merci de confirmer ton inscription sur Snowtricks : <br><br>
    <a href="{{ url('app_verify_email', {'token': token.token}) }}">Confirmer mon adresse</a>.
    Ce lien expirera à  {{ token.validityDate|date('g') }} hour(s).
</p>

<p>
    A bientot !
</p>
