{#{% block _figure_name_row %}#}
{#    <div class="form-group">#}
{#        <label for="{{ form.vars.full_name }}"><h2>Nom du trick</h2></label>#}
{#        <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.data }}" class="form-control" placeholder="Nom du trick">#}
{#    </div>#}
{#{% endblock %}#}