{% block _figure_videos_entry_row %}
    {{ form_row(form.url) }}
{% endblock %}

{% block _figure_videos_entry_url_row %}
    <fieldset class="card col-4 p-2 m-2 align-middle">
        <div class="card-img-top">
            {{ form_widget(form) }}
        </div>
    </fieldset>
{% endblock %}

{% block _figure_videos_entry_url_widget %}
    <iframe class="video" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="{{ form.vars.data }}" allowfullscreen></iframe>
    {{ form_widget(form) }}
    <div class="removeBtn"></div>
{% endblock %}