#figureMedias>.row {
    display: block; /* contexte sur le parent */
    overflow-x: auto;
    white-space: nowrap;
}

#figureMedias>.row>fieldset {
    width: 100%;
}

#figureMedias fieldset, #figureMedias .card{
    display: inline-block;
}