
#videosCollectionHolder, #picturesCollectionHolder {
    display: block; /* contexte sur le parent */
    overflow-x: auto;
    white-space: nowrap;
}
#figureMedias #figure_videos fieldset, #figureMedias .card{
    display: inline-block;
}