<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default("SnowTricks") }}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
{% block scripts %}{% endblock %}

</html>